@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

$primaryColor: #222222;
$secondaryColor: #1274E7;
$headingColor: #444444;
$paragraphColor: #999999;
$headingFont: 'Montserrat', sans-serif;
$paragraphFont: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

::selection {
    background-color: $primaryColor;
    color: #f4f4f4;
    padding: 3px;
}
html {
    scroll-behavior: smooth;
}

@mixin fontProperty($family, $size, $color, $weight, $transform, $align, $lineHeight, $letterSpacing){
    font-family: $family;
    font-size: $size;
    color: $color;
    font-weight: $weight;
    text-transform: $transform;
    text-align: $align;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}
@mixin card($backgroundColor, $borderRadius, $boxShadow, $padding){
    background-color: $backgroundColor;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    padding: $padding;

    @content;
}
@mixin button {
    @include fontProperty($headingFont, 14px, #fff, 700, uppercase, center, 19px, 2px);
    background-color: #E4881B;
    padding: 10px 25px;
    border-radius: 50px;
    border:none;
    outline:none;
    margin-top: 20px;
    transition: .3s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: darken($color: #E4881B, $amount: 10);
    }

    @content;
}
%titleStyle {
    padding-left: 7.5px;
    h2 {
        @include fontProperty($headingFont, 36px, $headingColor, 400, normal, left, 58px, 1px);
    }
    p {
        @include fontProperty($paragraphFont, 16px, $paragraphColor, 400, normal, left, 26px, 0); 
        padding-top: 15px;
        padding-bottom: 45px;
    }
}
%buttonHeading {
    display: inline-block;
    padding: 5px 10px;
    margin: 15px 0;
    border-radius: 4px;
    background-color: #F4F4F4;
    @include fontProperty($headingFont, 12px, #888, 700, uppercase, left, 12px,1px );
}

%bottomLink {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        a{
            @include fontProperty($headingFont, 14px, #888, 700, normal, left, 24px, 1px);
            text-decoration:none;
        }
    }
}
.container {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    @media only screen and (max-width: 992px) {
        width: 100%px;
        padding: 0 15px;
    } 
}

@import "nav";
@import "header";
@import "main";
@import "footer";
@import "grid";