@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.createWebsite .title, .countFacilites .title, .workProcedure .title, .pricing .title, .company .title {
  padding-left: 7.5px;
}

.createWebsite .title h2, .countFacilites .title h2, .workProcedure .title h2, .pricing .title h2, .company .title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #444444;
  font-weight: 400;
  text-transform: normal;
  text-align: left;
  line-height: 58px;
  letter-spacing: 1px;
}

.createWebsite .title p, .countFacilites .title p, .workProcedure .title p, .pricing .title p, .company .title p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #999999;
  font-weight: 400;
  text-transform: normal;
  text-align: left;
  line-height: 26px;
  letter-spacing: 0;
  padding-top: 15px;
  padding-bottom: 45px;
}

.createWebsite .card h5, .countFacilites h5, .workProcedure .card h5, .pricing .card h5 {
  display: inline-block;
  padding: 5px 10px;
  margin: 15px 0;
  border-radius: 4px;
  background-color: #F4F4F4;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #888;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  line-height: 12px;
  letter-spacing: 1px;
}

.container {
  width: 70%;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%px;
    padding: 0 15px;
  }
}

header {
  background-color: #222222;
  padding: 80px 0;
}

header .headerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerMain .headerContent {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

header .headerMain .headerContent h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  line-height: 58px;
  letter-spacing: 2px;
}

header .headerMain .headerContent h5 {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  background-color: #444;
  margin: 15px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  line-height: 15px;
  letter-spacing: 0;
}

header .headerMain .headerContent p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #999999;
  font-weight: 500;
  text-transform: normal;
  text-align: left;
  line-height: 26px;
  letter-spacing: 0;
  padding-right: 60px;
}

header .headerMain .headerContent button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 19px;
  letter-spacing: 2px;
  background-color: #E4881B;
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-top: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

header .headerMain .headerContent button:hover {
  background-color: #b66d16;
}

header .headerMain .headerImg {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .headerMain .headerImg img {
  display: block;
  width: 85%;
}

header .headerFetures {
  padding-top: 50px;
}

header .headerFetures .fetureContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

header .headerFetures .fetureContent .icon {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

header .headerFetures .fetureContent .icon span {
  font-size: 46px;
}

header .headerFetures .fetureContent .icon .blue {
  color: #1274E7;
}

header .headerFetures .fetureContent .icon .green {
  color: #04E799;
}

header .headerFetures .fetureContent .icon .yellow {
  color: #E4881B;
}

header .headerFetures .fetureContent .text {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

header .headerFetures .fetureContent .text h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-transform: normal;
  text-align: left;
  line-height: 36px;
  letter-spacing: 1px;
}

header .headerFetures .fetureContent .text p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #888;
  font-weight: 400;
  text-transform: normal;
  text-align: left;
  line-height: 22px;
  letter-spacing: 0;
  padding-top: 0;
}

.createWebsite {
  background-color: #F4F4F4;
  padding: 80px 0;
}

.createWebsite .card {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 45px 30px;
  margin: 0 7.5px;
}

.createWebsite .card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #444444;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
  line-height: 32px;
  letter-spacing: 1px;
}

.createWebsite .card p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 400;
  text-transform: normal;
  text-align: left;
  line-height: 26px;
  letter-spacing: 0;
}

.createWebsite .blue {
  border-top: 2px solid #1274E7;
}

.createWebsite .green {
  border-top: 2px solid #04E799;
}

.createWebsite .yellow {
  border-top: 2px solid #E4881B;
}

.countFacilites {
  background-color: #fff;
  padding-top: 80px;
}

.countFacilites span {
  font-size: 44px;
  color: #888;
}

.countFacilites h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #999999;
  font-weight: 500;
  text-transform: normal;
  text-align: left;
  line-height: 58px;
  letter-spacing: 1px;
}

.countFacilites img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.workProcedure {
  background-color: #f4f4f4;
  padding: 80px 0;
}

.workProcedure .card {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 45px 30px;
  border-top: 2px solid #04E799;
  margin-right: 15px;
}

.workProcedure .card span {
  font-size: 64px;
  color: #888;
}

.workProcedure .card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #444444;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
  line-height: 32px;
  letter-spacing: 1px;
}

.workProcedure .card p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 400;
  text-transform: normal;
  text-align: left;
  line-height: 26px;
  letter-spacing: 0;
}

.workProcedure .card button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 19px;
  letter-spacing: 2px;
  background-color: #E4881B;
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-top: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
  padding: 8px 15px;
  font-size: 12px;
}

.workProcedure .card button:hover {
  background-color: #b66d16;
}

.pricing {
  background-color: #222222;
  padding: 80px 0;
}

.pricing .title h2 {
  color: #fff;
}

.pricing .card {
  background-color: #444444;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
  padding: 45px 30px;
  margin: 0 7.5px;
}

.pricing .card h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #fff;
  font-weight: 700;
  text-transform: normal;
  text-align: center;
  line-height: 45px;
  letter-spacing: 1px;
}

.pricing .card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #999999;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 22px;
  letter-spacing: 1px;
}

.pricing .card h5 {
  background-color: #666;
  text-align: center;
  color: #aaa;
  display: block;
  width: 50%;
  padding: 10px 25px;
  margin: 15px auto;
}

.pricing .card ul {
  margin: 0;
  padding: 0;
}

.pricing .card ul li {
  list-style: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  line-height: 36px;
  letter-spacing: 1px;
}

.pricing .card button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 19px;
  letter-spacing: 2px;
  background-color: #E4881B;
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-top: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
  display: block;
  margin: 20px auto 10px;
}

.pricing .card button:hover {
  background-color: #b66d16;
}

.pricing .card .gray {
  background-color: #666;
}

.pricing .card .yellow {
  background-color: #E4881B;
}

.pricing .gray {
  border-top: 3px solid #666;
}

.pricing .yellow {
  border-top: 3px solid #E4881B;
}

.company {
  background-color: #1274E7;
  padding: 80px 0;
}

.company .title h2 {
  color: #fff;
}

.company .title p {
  color: #bdd9fa;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 24.99%;
  }
  .col-m-4 {
    width: 33.32%;
  }
  .col-m-5 {
    width: 41.65%;
  }
  .col-m-6 {
    width: 49.98%;
  }
  .col-m-7 {
    width: 58.31%;
  }
  .col-m-8 {
    width: 66.64%;
  }
  .col-m-9 {
    width: 74.97%;
  }
  .col-m-10 {
    width: 83.3%;
  }
  .col-m-11 {
    width: 91.63%;
  }
  .col-m-12 {
    width: 99.96%;
  }
}

@media only screen and (min-width: 992px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 24.99%;
  }
  .col-4 {
    width: 33.32%;
  }
  .col-5 {
    width: 41.65%;
  }
  .col-6 {
    width: 49.98%;
  }
  .col-7 {
    width: 58.31%;
  }
  .col-8 {
    width: 66.64%;
  }
  .col-9 {
    width: 74.97%;
  }
  .col-10 {
    width: 83.3%;
  }
  .col-11 {
    width: 91.63%;
  }
  .col-12 {
    width: 99.96%;
  }
}
/*# sourceMappingURL=style.css.map */