@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

$primaryColor: #222222;
$secondaryColor: #1274E7;
$headingColor: #444444;
$paragraphColor: #999999;
$headingFont: 'Montserrat', sans-serif;
$paragraphFont: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

@mixin fontProperty($family, $size, $color, $weight, $transform, $align, $lineHeight, $letterSpacing){
    font-family: $family;
    font-size: $size;
    color: $color;
    font-weight: $weight;
    text-transform: $transform;
    text-align: $align;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}
@mixin card($backgroundColor, $borderRadius, $boxShadow, $padding){
    background-color: $backgroundColor;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    padding: $padding;

    @content;
}
@mixin button {
    @include fontProperty($headingFont, 14px, #fff, 700, uppercase, center, 19px, 2px);
    background-color: #E4881B;
    padding: 10px 25px;
    border-radius: 50px;
    border:none;
    outline:none;
    margin-top: 20px;
    transition: .3s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: darken($color: #E4881B, $amount: 10);
    }

    @content;
}
%titleStyle {
    padding-left: 7.5px;
    h2 {
        @include fontProperty($headingFont, 36px, $headingColor, 400, normal, left, 58px, 1px);
    }
    p {
        @include fontProperty($paragraphFont, 16px, $paragraphColor, 400, normal, left, 26px, 0); 
        padding-top: 15px;
        padding-bottom: 45px;
    }
}
%buttonHeading {
    display: inline-block;
    padding: 5px 10px;
    margin: 15px 0;
    border-radius: 4px;
    background-color: #F4F4F4;
    @include fontProperty($headingFont, 12px, #888, 700, uppercase, left, 12px,1px );
}

.container {
    width: 70%;
    display: block;
    margin: 0 auto;
    @media only screen and (max-width: 992px) {
        width: 100%px;
        padding: 0 15px;
    } 
}

@import "header";

.createWebsite {
    background-color: #F4F4F4;
    padding: 80px 0;
    .title {
        @extend %titleStyle;
    }
    .card {
        @include card(#fff, 4px, 0 2px 5px rgba(0, 0, 0, 0.05), 45px 30px){
            margin: 0 7.5px;
        };
        h3 {
            @include fontProperty($headingFont, 20px, $headingColor, 700, capitalize, left, 32px, 1px);
        }
        h5 {
            @extend %buttonHeading;
        }
        p{
            @include fontProperty($paragraphFont, 16px, #888, 400, normal, left, 26px, 0);
        }
    }
    @each $class, $borderColor in (blue: #1274E7, green: #04E799, yellow: #E4881B) {
        .#{$class} {
            border-top: 2px solid $borderColor;
        }
    }
}

.countFacilites {
    background-color: #fff;
    padding-top: 80px;
    .title {
        @extend %titleStyle;
    }
    span {
        font-size: 44px;
        color: #888;
    }
    h3 {
        @include fontProperty($headingFont, 36px, $paragraphColor, 500, normal, left, 58px, 1px);
    }
    h5 {
        @extend %buttonHeading;
    }
    img {
        width: 70%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    }
}

.workProcedure {
    background-color: #f4f4f4;
    padding: 80px 0;
    .title {
        @extend %titleStyle;
    }
    .card {
        @include card(#fff, 4px, 0 2px 5px rgba(0, 0, 0, 0.05), 45px 30px){
            border-top: 2px solid #04E799;
            margin-right: 15px;
        };
        span {
            font-size: 64px;
            color: #888;
        }
        h3 {
            @include fontProperty($headingFont, 20px, $headingColor, 700, capitalize, left, 32px, 1px);
        }
        h5 {
            @extend %buttonHeading;
        }
        p{
            @include fontProperty($paragraphFont, 16px, #888, 400, normal, left, 26px, 0);
        }
        button {
            @include button {
                padding: 8px 15px;
                font-size: 12px;
            }
        }
    }
}
.pricing {
    background-color: $primaryColor;
    padding: 80px 0;
    .title {
        @extend %titleStyle;
        h2 {
            color: #fff;
        }
    }
}

@import "grid";